version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: projeto-spring-boot
    ports:
      - "5000:5000"
    environment:
      - SERVER_PORT=5000
      - JAVA_OPTS=-Xmx512m -Xms256m
    restart: unless-stopped
